* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v7_9 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_10 {
  width: 100%;
  height: 74px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 35px;
  overflow: hidden;
}
.v8_2 {
  width: 100%;
  height: 58px;
  background: url("../images/v8_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 1px;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 69px;
  overflow: hidden;
}
.v7_11 {
  width: 387px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v7_12 {
  width: 206px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 388px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v7_13 {
  width: 206px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 595px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v7_15 {
  width: 206px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 802px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
