* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v5_5 {
  width: 100%;
  height: 832px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_6 {
  width: 100%;
  height: 125px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 175px;
  left: 0px;
  overflow: hidden;
}
.v5_7 {
  width: 100%;
  height: 109px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 321px;
  left: 47px;
  overflow: hidden;
}
.v5_8 {
  width: 816px;
  height: 88px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 460px;
  left: 231px;
  overflow: hidden;
}
